<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
		<title>NancyBlog</title>
		<!--<link href="/themes/default/css/style.css" rel="stylesheet" type="text/css"/>
		{% block head %}{% endblock %}-->
	</head>
	<body>
		<div id="container">
			<h3>{{ blog.title }}</h3>
			<div>{{ blog.content }}</div>
		</div>
		<div id="footer">
			{% block footer %}
			<span>Copyright © 2009 CoderZh All rights reserved.</span>
			{% endblock %}
		</div>		
	</body>
</html>