{% extends "base.html" %}
{% block mainContent %}
<h1 class="PostListTitle">文章列表</h1>
<table class="cz-table">
    <thead>
    <tr>
        <th width='50%'>标题</th>
        <th width=''>发布状态</th>
        <th width=''>阅读数</th>
        <th width=''>评论数</th>
        <th width=''>操作</th>
        <th width=''>操作</th>
    </tr>
    </thead>
    {% for blog in page.items %}
    <tr>
        <td><a href="{{ blog.url }}">{{ blog.title }}</a></td>
        <td>{% if blog.draft %}草稿{% else%}已发布{% endif %}</td>
        <td>{{ blog.viewcount }}</td>
        <td>{{ blog.comments_count }}</td>
        <td><a href="/admin/editblog?id={{ blog.key.id }}">编辑</a></td>
        <td><a href="/admin/deleteblog?id={{ blog.key.id }}" onclick="return window.confirm('确认删除这篇博客吗?');">删除</a></td>
    </tr>
    {% endfor %}
    <tfoot>
    <tr>
    	<td colspan="6" align="right">共{{ page.count }}页{% ifnotequal page.index 1 %}&nbsp;<a href="/admin/bloglist?page=1">首页</a>&nbsp;<a href="/admin/bloglist?page={{page.index|add:"-1"}}">上一页</a>{% endifnotequal %}{% for pagelink in page.besidelinks %}&nbsp;<a href="/admin/bloglist?page={{pagelink}}">{% ifequal page.index pagelink %}<b>{{ pagelink }}</b>{% else %}{{ pagelink }}{% endifequal %}</a>{% endfor %}{% ifnotequal page.index page.last %}&nbsp;<a href="/admin/bloglist?page={{page.index|add:"1"}}">下一页</a>&nbsp;<a href="/admin/bloglist?page={{page.last}}">末页</a>{% endifnotequal %}</td>
    </tr>
    </tfoot>
</table>
{% endblock %}