{% extends "base.html" %}
{% block mainContent %}
<h1 class="PostListTitle">文章列表</h1>
<table class="cz-table">
    <thead>
    <tr>
        <th width='60%'>标题</th>
        <th width=''>阅读数</th>
        <th width=''>评论数</th>
        <th width=''>操作</th>
        <th width=''>操作</th>
    </tr>
    </thead>
    {% for blog in page.items %}
    <tr>
        <td><a href="{{ blog.url }}">{{ blog.title }}({{ blog.lastmodifytime|date:"Y-m-j H:i"}})</a></td>
        <td>{{ blog.viewcount }}</td>
        <td>{{ blog.commentcount }}</td>
        <td><a href="{{ blog.edit_url }}">编辑</a></td>
        <td><a href="{{ blog.delete_url }}" onclick="return window.confirm('确定删除这篇博客吗?');">删除</a></td>
    </tr>
    {% endfor %}
    <tfoot>
    <tr>
    	<td colspan="5" align="right">{% include "../pager.html" %}</td>
    </tr>
    </tfoot>
</table>
{% endblock %}

{% block sideBar %}
{% include "bloglist_sidebar.html" %}
{% endblock%}
