{% extends "base.html" %}
{% block mainContent %}
<h1 class="PostListTitle">我的分类</h1>
<table class="cz-table">
    <thead>
    <tr>
        <th width='15%'>Name</th>
        <th width='50%'>Description</th>
        <th width=''>Visible</th>
        <th width=''>Operation</th>
    </tr>
    </thead>
    {% for category in categories %}
    <tr>
        <td><a href="/admin/categorylist?editcategoryid={{category.key.id}}">{{ category.name }}</a></td>
        <td>{{ category.description }}</td>
        <td>{{ category.visible }}</td>
        <td><a href="/admin/categorylist?editcategoryid={{category.key.id}}">编辑</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/admin/deletecategory?id={{ category.key.id }}" onclick="return window.confirm('delete it?');">删除</a></td>
    </tr>
    {% endfor %}
</table>
<div class="postSeparator"></div>
<form method="post" action="/admin/addcategory/">
    <div>
	    <h2>Name:</h2>
		<input name="category_name" id="category_name" type=text size="60" value="{% if editcategory %}{{editcategory.name}}{% endif %}" />
    </div>
    <div>
        <h2>Description:</h2>
        <textarea id="category_description" name="category_description" rows="5" cols="49">{% if editcategory %}{{editcategory.description}}{% endif %}</textarea>
    </div>
    <div>
        <input type="checkbox" id="category_visible" name="category_visible" {% if editcategory %}{% if editcategory.visible %}checked="checked"{% endif %}{% else %}checked="checked"{% endif %} />
        <label for="category_visible"><b>Visible</b></label>
    </div>
    <div>
    <input name="editcategoryid" type="hidden" value="{% if editcategory %}{{editcategory.key.id}}{% endif %}" />
    <input name="submit" type="submit" value="{% if editcategory %}Edit{% else %}Add{% endif %}" />
    </div>
</form>
{% endblock %}