{% extends "base.html" %}
{% block mainContent %}
<div id="editform">
<form method="post" action="/admin/editblog">
    <div>
         <input name=title_input id="title_input" type=text size="60" value="{{ blog.title }}">
         <label for="title_input"><b>Title</b>(required)</label>
    </div>
    <div>
        <h2>Content</h2>
        {{ fckeditor }}
    </div>
    <div>
		{% for category in categories %}
        <input name="category_{{ category.key.id }}" type="checkbox" id="category_{{ category.key.id }}" {% for blogcategory in blog.categories %}{% ifequal category.key.id blogcategory.key.id %}checked="checked"{% endifequal %}{% endfor %}> 
        {{ category.name }}
        {% endfor %}
    </div>
    <div>
         <input type=text size="60" id="tags" name="tags" value="{{ blog.tags_string }}">
         <label for="tags"><b>Tags</b>(空格分隔) </label>
    </div>
    <div>
         <input type=text size="60" id="permalink" name="permalink" value="{{ blog.permalink }}">
         <label for="permalink"><b>Permalink</b> </label>
    </div>
    <div>
    	<input name="id" type="hidden" value="{{ blog.key.id }}" />
    	<input name="submit" type="submit" value="编辑" />
    </div>
</form>
</div>
{% endblock %}