{% extends "base.html" %}
{% block inhead %}
<script type="text/javascript" src="/javascript/jquery.js"></script>
<script type="text/javascript" src="/javascript/jquery.validate.js"></script>
<script type="text/javascript">
$(document).ready(function (){
	$("#linkForm").validate();	
});

</script>
{% endblock %}

{% block mainContent %}
<h1 class="PostListTitle">参数列表</h1>
<table class="cz-table">
    <thead>
    <tr>
        <th width='20%'>名称</th>
        <th width=''>地址</th>
        <th width='25%'>说明</th>
        <th width='8%'>操作</th>
        <th width='8%'>操作</th>
    </tr>
    </thead>
    {% for link in page.items %}
    <tr>
        <td>{{link.title}}</td>
        <td>{{link.url}}</td>
        <td>{{link.description}}</td>
        <td><a href="{{link.edit_url}}">编辑</a></td>
        <td><a href="{{link.delete_url}}" onclick="return window.confirm('确定删除这个设置吗?');">删除</a></td>
    </tr>
    {% endfor %}
    <tfoot>
    <tr>
    	<td colspan="5" align="right">{% include "../pager.html" %}</td>
    </tr>
    </tfoot>
</table>
<form class="cmxform" id="linkForm" method="post" action="/admin/addlink">
	<fieldset>
		<p>
			<label for="ctitle">名称</label>
			<input id="ctitle" name="title" class="required" size="30" value="{% if editlink %}{{editlink.title}}{% endif %}" />
		</p>
		<p>
			<label for="curl">地址</label>
			<input id="curl" name="url" class="required url" value="{% if editlink %}{{editlink.url}}{% endif %}" size="30" />
		</p>
		<p>
			<label for="cdescription">说明</label>
			<textarea id="cdescription" name="description" rows="6" cols="30">{% if editlink %}{{editlink.description}}{% endif %}</textarea>
		</p>
		<p><input type="hidden" id="editlinkid" name="editlinkid" value="{% if editlink %}{{editlink.key.id}}{% endif %}" /><input class="submit" type="submit" value="{% if editlink %}编辑{% else %}添加{% endif %}"/></p>
	</fieldset>
</form>
{% endblock %}

{% block sideBar %}
<div class="catListLink">
    <h3 class="catListTitle">操作</h3>
    <ul>
        <li><a href="/admin/basicsettings">» 基本设置</a></li>
        <li><a href="/admin/displaysettings">» 显示参数</a></li>
        <li><a href="/admin/advancesettings">» 高级设置</a></li>
    </ul>
</div>
{% endblock%}