{% extends "base.html" %}
{% block content %}
	<div id="main">
		<div id="maincontent"><div class="forFlow">
			<div class="navigation-top">
				<div><span>文章列表：</span></div>
			</div>
			{% if page.items %}
				{% for entry in page.items %}
					<div class="post" id="post-{{entry.key}}">
						<h2 class="post-title"><a href="{{ entry.url|escape }}" rel="bookmark" title="Permanent Link to {{entry.title|escape}}">{{entry.title|escape}}</a></h2>
						<div class="postmetadata-top">
							<span class="post-comments"><a href="{{entry.url|escape}}#commentForm">{{entry.commentcount}} 条评论</a></span>
							<span class="post-date">{{entry.publishtime|timezone:8|date:"Y-m-j H:i"}}</span>
							<span class="post-views"><a href="{{entry.url|escape}}">{{entry.viewcount}} 次阅读</a></span>
						</div>
						<div class="postmetadata">
							<span class="post-cat">分类: </span><span>
								{%for cate in entry.categories%} <a href="{{cate.url}}">{{cate.name}}</a> {%endfor%}
							</span>

							{% if entry.tags%}
							<span class="post-tag">标签: </span><span>
								{%for tag in entry.tags%}
									<a href="/tag/{{tag|urlencode}}">{{tag}}</a>&nbsp;{%endfor%}</span>
							{%endif%}
						</div>
					</div>
				{% endfor %}
				<div class="navigation">
				  共{{ page.count }}页{% ifnotequal page.index 1 %}&nbsp;<a href="{{page.base_url}}?page=1">首页</a>&nbsp;<a href="{{page.base_url}}?page={{page.index|add:"-1"}}">上一页</a>{% endifnotequal %}{% for pagelink in page.besidelinks %}&nbsp;<a href="{{page.base_url}}?page={{pagelink}}">{% ifequal page.index pagelink %}<b>{{ pagelink }}</b>{% else %}{{ pagelink }}{% endifequal %}</a>{% endfor %}{% ifnotequal page.index page.last %}&nbsp;<a href="{{page.base_url}}?page={{page.index|add:"1"}}">下一页</a>&nbsp;<a href="{{page.base_url}}?page={{page.last}}">末页</a>{% endifnotequal %}
				</div>
			{% else %}
				<h2 class="center">Not Found</h2>
				<p class="center">不好意思，您所查看的内容不再这里，您可以通过侧栏搜索工具查一下。</p>
			{% endif %}
		</div></div>
		
		{% include "sidebar.html" %}
	</div>
{% endblock %}


