<!DOCTYPE html public "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head id="Head">
<title>{{ bloginfo.blogtitle }}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta id="metaKeywords" name="keywords" content="NancyBlog,博客,Google App Engine,Blog" />
<link id="MainCss" type="text/css" rel="stylesheet" href="/stylesheets/style.css" />
{% block inhead %}{% endblock %}
</head>

<body>

<div id="home">
	<div id="header">
		<div id="blogTitle">
			<a id="lnkBlogLogo" href="#">
			<img id="blogLogo" src="/images/logo.gif" alt="博客logo" /></a>
			<h1><a class="headermaintitle" href="{{ bloginfo.homepage }}">{{ bloginfo.blogtitle }}</a></h1>
			<h2>{{ bloginfo.subtitle }}</h2>
		</div>
		<!--end: blogTitle 博客的标题和副标题 -->
		<div id="navigator">
			<ul id="navList">
				<li><a class="menu" href="/">博客首页</a></li>
				<li><a class="menu" href="/admin/bloglist">文章列表</a></li>
				<li><a class="menu" href="/admin/categorylist">类别管理</a></li>
				<li><a class="menu" href="/admin/advancesettings">选项</a></li>
			</ul>
			<div class="blogStats">
				随笔- 99999&nbsp; 文章- 99999&nbsp; 评论- 9999999&nbsp; </div>
			<!--end: blogStats --></div>
		<!--end: navigator 博客导航栏 --></div>
	<!--end: header 头部 -->
	<div id="main">
		<div id="mainContent">
        	<div class="forFlow">
           	{% block mainContent %}
            {% endblock %}
            </div>
        </div>
		<div id="sideBar">{% block sideBar %}{% endblock %}</div>
	</div>
	<div class="clear">
	</div>
	<div id="footer">Copyright ©2009 {{ bloginfo.author }}</div>
</div>

</body>

</html>
