<!DOCTYPE html public "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head id="Head">
<title>{{ bloginfo.blogtitle }}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta id="metaKeywords" name="keywords" content="CoderZh,NancyBlog,博客"/>
<link id="MainCss" type="text/css" rel="stylesheet" href="/stylesheets/style.css" />
<!-- Include required JS files -->
<script type="text/javascript" src="/syntaxhighlighter/src/shCore.js"></script>
<!-- At least one brush, here we choose JS. You need to include a brush for every language you want to highlight -->
<script type="text/javascript" src="/syntaxhighlighter/scripts/shBrushCSharp.js"></script>
<script type="text/javascript" src="/syntaxhighlighter/scripts/shBrushPython.js"></script>
	 
<!-- Include *at least* the core style and default theme -->
<link href="/syntaxhighlighter/styles/shCore.css" rel="stylesheet" type="text/css" />
<link href="/syntaxhighlighter/styles/shThemeNancy.css" rel="stylesheet" type="text/css" />

<script type="text/javascript">
	SyntaxHighlighter.defaults['gutter'] = true;
	SyntaxHighlighter.all()
</script>
{% block inhead %}{% endblock %}
</head>

<body>

<div id="home">
	<div id="header">
		<div id="blogTitle">
			<img id="blogLogo" src="/images/logo.jpg" alt="博客logo" />
			<h1><a class="headermaintitle" href="{{ bloginfo.homepage }}">{{ bloginfo.blogtitle }}</a></h1>
			<h2>{{ bloginfo.subtitle }}</h2>
		</div>
		<div id="login">
			<ul id="loginList">
		{% if user %}<li>{{user.nickname}} <a class="menu" href="{{logout_url}}">退出</a></li>
		{% else %}<li><a class="menu" href="{{login_url}}">登陆</a></li>
		{% endif %}
		{% if is_admin %}<li><a class="menu" href="/admin">管理</a></li>{% endif %}
			</ul>
		</div>
		<!--end: blogTitle 博客的标题和副标题 -->
		<div id="navigator">
			<ul id="navList">
				<li><a class="menu" href="/">首页</a></li>
				<li><a class="menu" href="/page/myprojects">我的作品</a></li>
				<li><a class="menu" href="/rssreader/coderzh">技术文章</a></li>
				<li><a class="menu" href="/page/aboutme">关于我</a></li>
			</ul>
			<div class="blogStats">
				随笔- {{stat.blogs_count}}&nbsp; 评论- {{stat.comments_count}}&nbsp; </div>
			<!--end: blogStats --></div>
		<!--end: navigator 博客导航栏 --></div>
	<!--end: header 头部 -->
	<div id="main">
		<div id="mainContent">
			<div class="forFlow">
			{% block mainContent %}
            {% endblock %}          
			</div>
		</div>
		<!--end: mainContent 主体内容容器-->
		<div id="sideBar">
			<div id="sideBarMain">
				<!--done-->
				<div class="newsItem">
					<h3 class="catListTitle">公告</h3>{{bloginfo.announce}} 
				</div>
				<div id="leftcontentcontainer">
	                <div class="mySearch">
						<h3 class="catListTitle">搜索</h3>
						<div>
							<input type="text" name="" id="q" />
							<input type="button" name="" value="搜索" /> </div>
					</div>
                    <div class="catListLink">
						<h3 class="catListTitle">我的标签</h3>
						<ul>
							{% for tag in tags %}<li><a href="{{tag.url|urlencode}}">{{tag.name}}({{tag.blogs_count}})</a></li>{% endfor %}
						</ul>
					</div>
                    <div class="catListLink">
						<h3 class="catListTitle">随笔分类</h3>
						<ul>
							{% for category in categories %}<li><a href="{{category.url|urlencode}}">{{category.name}}({{category.blogs_count}})</a></li>{% endfor %}
						</ul>
					</div>
                    <div class="catListPostArchive">
						<h3 class="catListTitle">随笔档案</h3>
						<ul>
							{% for archive in archives %}<li><a href="{{archive.url}}">{{archive.yearmonth}}({{archive.count}})</a> </li>{% endfor %}
                        </ul>
					</div>
                    <div class="catListLink">
						<h3 class="catListTitle">友情链接</h3>
						<ul>
							{% for link in friendlists %} <li><a href="{{link.url}}">{{link.title}}</a></li> {% endfor %}
						</ul>
					</div>
					<div class="catListLink">
						<h3 class="catListTitle">最新随笔</h3>
						<ul>
							{% for lastpost in lastposts %}<li><a href="{{lastpost.url}}">{{forloop.counter}}. {{ lastpost.title }}</a></li>{% endfor %}
						</ul>
					</div>
					<div class="catListComment">
						<h3 class="catListTitle">最新评论<a href="#"><img src="/images/xml.gif" alt="RSS最新的评论" /></a></h3>
						{% for lastcomment in lastcomments %}<div class="divRecentCommentAticle">
							<div>{{forloop.counter}}. {{lastcomment.username}} 回复了:<a class="listitem" href="{{lastcomment.blog.url}}">{{lastcomment.blog.title}}</a><br /></div>
                            <div>{{lastcomment.content}}</div>
						</div>{% endfor %}
					</div>
				</div>
			</div>
			<!--end: sideBarMain -->
			<div class="clear">
			</div>
			<!--end: sideBar 侧边栏容器 --></div>
	</div>
	<!--end: main -->
	<div class="clear">
	</div>
	<div id="footer">
		<img src="http://code.google.com/appengine/images/appengine-silver-120x30.gif"
alt="Powered by Google App Engine" />&nbsp;Copyright ©2009 NancyBlog By {{ bloginfo.author }}</div>
	<!--end: footer --></div>
<!--end: home 自定义的最大容器 -->

</body>

</html>
