<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta name="description" content="Bleag - A Blog that runs on Google App Engine" />
<meta name="keywords" content="blog google app engine" />
	<title>{{ test }}{% block pagetitle %}{{ blog.title }}{% endblock %}</title>
<link href="/static/css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>

<div id="container">
  <div id="header"><h1>{% block title %}{{ blog.title }}{% endblock %}</h1></div>
  <div id="sub_header">{% block subtitle %}... {{ blog.subtitle }}{% endblock %}</div>
  {% block form_start %}{% endblock %}
  <div id="main_content_top"></div>
  <div id="main_content">
	  <div class="content">
	  	{% block content %}{% endblock %}
	  </div>

	  <div class="menu">
	    {% block menu %}{% endblock %}
	  </div>
	  
	  <div id="clear"></div>
	</div>
	
	<div id="main_content_bottom">
	</div>
	{% block form_end %}{% endblock %}
	<div id="footer">
	  <strong>Copyright &copy; 2008</strong> | <a href="http://{{ blog.url }}">{{ blog.url }}</a> | <b>Design from <a href="http://www.oswd.org/design/information/id/3697/">Open Source Web Design</a>
	</div>
</div>

</body>

</html>